@charset "utf-8";
@import url("https://use.typekit.net/ysb5xjv.css");

body {
	font-family: "tt-commons-pro", sans-serif;
	font-weight: 300;
	font-style: normal;
	margin: 0;
	padding: 0;
	font-size: 1em;
	line-height: 120%;
	color: #1F1E1E;
	background: #F8F7FA;
	text-align: left;

}

h1, h2, h3, h4, h5, p, div, figure, img, figcaption {
	margin: 0;
	padding: 0;

}

h1 {
	font-family: tt-commons-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 3em;
	text-transform: lowercase;
	padding: 0.5em 0 0.5em;
	line-height: 100%;
}

h3 {
	font-family: tt-commons-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;
	text-transform: lowercase;
	padding: 1em 0 0.5em;
}

p, figcaption {
	padding: 0 0 0.5em 0;
	line-height: 120%;
	text-transform: lowercase;
}

ol, ul, li, dl, dd, dt {
	margin: 0;
	padding: 0;
	list-style: none;
}

#footer {
	font-size: 80%;
	padding: 2em 0 5em;
}

#pagewrapper {
	width: calc(100% - 48px);
	margin: 52px auto;
	padding: 0;
	text-align: left;
}

@media screen and (min-width : 768px) {
	#pagewrapper {
		width: calc(100% - 96px);
		margin: 70px auto;
	}
}

.pagerow {
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	flex-flow: row wrap;
	margin: 0;
	padding: 0;
	gap: 20px;
}

@media screen and (min-width : 768px) {
	.pagerow {
		max-width: 75%;
	}
}

.kebster {
	font-family: tt-commons-pro, sans-serif;
	font-weight: 600;
	font-style: normal;
}

.image-fullwidth {
	widows: 100%;
	height: auto;
	max-width: 100%;
}


/* Navigation */

nav {
	text-transform: lowercase;
	font-size: 1.2em;
	font-family: tt-commons-pro, sans-serif;
	font-weight: 400;
	font-style: normal;	
}

#nav ul {
	padding: 10px 0;
}

#nav ul li {
	display: inline-block;
	padding: 0 0 1px;
}

#nav * a {
	display: inline-block;
	margin-right: 0.75em;
	border: 0;

}

#nav * a:link, #header * a:visited {
	text-decoration: none;
	border-bottom: 1.5px solid #000;
	color: #000;
	padding: 0;
	margin: 0;
	margin-right: 0.75em;
}

#nav * a:hover, #header * a:active {
	text-decoration: none;
	color: #000;
	background-color: #ceff63;
	padding: 4px 6px 2px;
	margin: -4px -6px 2px;
	margin-right: calc(0.75em - 6px);
	margin-bottom: -1px;
	border: 0;
	border-radius: 4px;
}

/*a:link, a:visited {
	color: #000;
	text-decoration: none;
	border-bottom: 1.5px solid #000;
	display: inline-block;
}

a:hover, a:active {
	color: #fff;
	text-decoration: none;
	border: 0;
	display: inline-block;
	color: #000;
	background-color: #ceff63;
	padding: 4px 6px;
	margin: -4px -6px -2.5px;
	border-radius: 6px;
}*/

/* Columns */

.row {
	width: calc(50% - 10px);
}